[submodule "avec-user-web-ui"]
	path = avec-user-web-ui
	url = https://github.com/augustlevinson/avec-user-web-ui.git
[submodule "avec-admin-web-ui"]
	path = avec-admin-web-ui
	url = https://github.com/augustlevinson/avec-admin-web-ui.git
[submodule "avec-user-app"]
	path = avec-user-app
	url = https://github.com/augustlevinson/avec-user-app.git
[submodule "avec-rest-api"]
	path = avec-rest-api
	url = https://github.com/augustlevinson/avec-rest-api.git
[submodule "avec-bike-logic"]
	path = avec-bike-logic
	url = https://github.com/augustlevinson/avec-bike-logic.git
[submodule "avec-db"]
	path = avec-db
	url = https://github.com/augustlevinson/avec-db.git
