@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Oswald:wght@200..700&display=swap');

:root {
    --color-green-primary: #2EAE63;
    --color-green-light: #57D18A;
    --color-green-lighter: #8FE6B3;
    --color-green-lightest: #DFF9E9;
    --color-green-dark: #1E7743;
    --color-green-darker: #1A4D30;
    --color-green-darkest: #092A19;
    --color-gray: #A3A6B1;
    --color-gray-light: #D2D5DA;
    --color-gray-lighter: #EEF0F1;
    --color-black: #2F2F2F;

    --h1-font: 'Fugaz One', sans-serif;
    --main-font: 'Oswald', 'Inter', Arial, sans-serif;
}