.bike-details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
    border-left: 2px solid var(--color-green-primary);
    padding: 0 0 0.15em 0.25em;
    margin-bottom: 0.5em;
  
    & span {
      font-size: 16px;
      font-weight: 350;
      color: #000;
      width: 100%;
    }
}

.more-details a:hover {
    cursor: pointer;
    color: var(--color-green-primary);
}