/* MAP */
.leaflet-container {
    height: 49vh;
    margin-top: 1em;
}

p.map-loading-msg {
    text-align: center;
    margin-top: 12vh;
}

.popup-content {
    p {
        font-size: 1em;
        margin: 0.3em 0;
    }



}

.bold {
    font-weight: 400;
}